@charset "utf-8";
/* CSS Document */

header, section, footer, aside, nav, article, figure, div{
	display: block;
	padding: 0;
	margin: 0;
}

body{
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	background:#478E8E;

	}
img, video, object { 
	max-width:100%; 
}
img { 
	border:0;
}
#contenido{
	width:1024px;
	height:700px;
	background:url(../img/fondo_salon.jpg);
	margin:0 auto;
	}
	
  .demoIMG { /* el rectángulo contenedor */
   position:relative; /* indicamos esto para poder posicionar su contenido de maera absoluta */
    height:256px; /* le damos una cierta altura */
    width:319px; /* le damos un cierto ancho */
	-moz-transition: all 1s ease-in-out;
  	-webkit-transition: all 1s ease-in-out;
  	-o-transition: all 1s ease-in-out;
  	transition: all 1s ease-in-out;
	top:153px;
	left: 159px;
	float:left;
  }
  .demoIMG img { /* el contenido */
    left: 0; /* posición izquierda */
    position:absolute; /* indicamos que su posición es absoluta con respecto al contenedor */
   top: 0; /* posición superior */
  -moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  }
  /* y ponemos propiedades en las clases de cada imagen */
  /* la primera no será visible por defecto */
  .demoIMG img.novisible {opacity:0;filter:alpha(opacity=0);
  -moz-transform:scale(1,0);
  -webkit-transform:scale(1,0);
  -o-transform:scale(1,0);
  -ms-transform:scale(1,0);
  
  }
  /* y se verá cuando pongamos el cursor encima del DIV */
  .demoIMG:hover img.novisible {opacity:1;filter:alpha(opacity=100);
  -moz-transform:scale(1);
  -webkit-transform:scale(1);
  -o-transform:scale(1);
  -ms-transform:scale(1);
}
  /* la segunda se ocultara siempre que pongamos el cursor encima del DIV o de la imagen */
  .demoIMG:hover img.visible {opacity:0;filter:alpha(opacity=0);
  -moz-transform:rotate(360deg) scale(0);
  -webkit-transform:rotate(360deg) scale(0);
  -o-transform:rotate(360deg) scale(0);
  -ms-transform:rotate(360deg) scale(0);
  }
  .demoIMG img.visible:hover {opacity:0;filter:alpha(opacity=0);}  


.demoPIZA { /* el rectángulo contenedor */
   position:relative; /* indicamos esto para poder posicionar su contenido de maera absoluta */
    height:210px; /* le damos una cierta altura */
    width:270px; /* le damos un cierto ancho */
	-moz-transition: all 1s ease-in-out;
  	-webkit-transition: all 1s ease-in-out;
  	-o-transition: all 1s ease-in-out;
  	transition: all 1s ease-in-out;
	top:18px;
	left: 220px;
	float:left;
  }
  .demoPIZA img { /* el contenido */
    left: 0; /* posición izquierda */
    position:absolute; /* indicamos que su posición es absoluta con respecto al contenedor */
   top: 0; /* posición superior */
  -moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  }
  /* y ponemos propiedades en las clases de cada imagen */
  /* la primera no será visible por defecto */
  .demoPIZA img.novisible {opacity:0;filter:alpha(opacity=0);
  -moz-transform:scale(1,0);
  -webkit-transform:scale(1,0);
  -o-transform:scale(1,0);
  -ms-transform:scale(1,0);
  
  }
  /* y se verá cuando pongamos el cursor encima del DIV */
  .demoPIZA:hover img.novisible {opacity:1;filter:alpha(opacity=100);
  -moz-transform:scale(1);
  -webkit-transform:scale(1);
  -o-transform:scale(1);
  -ms-transform:scale(1);
}
  /* la segunda se ocultara siempre que pongamos el cursor encima del DIV o de la imagen */
  .demoPIZA:hover img.visible {opacity:0;filter:alpha(opacity=0);
  -moz-transform:rotate(360deg) scale(0);
  -webkit-transform:rotate(360deg) scale(0);
  -o-transform:rotate(360deg) scale(0);
  -ms-transform:rotate(360deg) scale(0);
  }
  .demoPIZA img.visible:hover {opacity:0;filter:alpha(opacity=0);}  
  
  /*TABLET PROFESOR*/
  
  .demoTABLETP { /* el rectángulo contenedor */
   position:relative; /* indicamos esto para poder posicionar su contenido de maera absoluta */
    height:80px; /* le damos una cierta altura */
    width:107px; /* le damos un cierto ancho */
	-moz-transition: all 1s ease-in-out;
  	-webkit-transition: all 1s ease-in-out;
  	-o-transition: all 1s ease-in-out;
  	transition: all 1s ease-in-out;
	top:300px;
	left: 135px;
	float:left;
  }
  .demoTABLETP img { /* el contenido */
    left: 0; /* posición izquierda */
    position:absolute; /* indicamos que su posición es absoluta con respecto al contenedor */
   top: 0; /* posición superior */
  -moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  }
  /* y ponemos propiedades en las clases de cada imagen */
  /* la primera no será visible por defecto */
  .demoTABLETP img.novisible {opacity:0;filter:alpha(opacity=0);
  -moz-transform:scale(1,0);
  -webkit-transform:scale(1,0);
  -o-transform:scale(1,0);
  -ms-transform:scale(1,0);
  
  }
  /* y se verá cuando pongamos el cursor encima del DIV */
  .demoTABLETP:hover img.novisible {opacity:1;filter:alpha(opacity=100);
  -moz-transform:scale(1);
  -webkit-transform:scale(1);
  -o-transform:scale(1);
  -ms-transform:scale(1);
}
  /* la segunda se ocultara siempre que pongamos el cursor encima del DIV o de la imagen */
  .demoTABLETP:hover img.visible {opacity:0;filter:alpha(opacity=0);
  -moz-transform:rotate(360deg) scale(0);
  -webkit-transform:rotate(360deg) scale(0);
  -o-transform:rotate(360deg) scale(0);
  -ms-transform:rotate(360deg) scale(0);
  }
  .demoTABLETA img.visible:hover {opacity:0;filter:alpha(opacity=0);}  
/*TABLETA ALUMNO*/
.demoTABLETA { /* el rectángulo contenedor */
   position:relative; /* indicamos esto para poder posicionar su contenido de maera absoluta */
    height:80px; /* le damos una cierta altura */
    width:94px; /* le damos un cierto ancho */
	-moz-transition: all 1s ease-in-out;
  	-webkit-transition: all 1s ease-in-out;
  	-o-transition: all 1s ease-in-out;
  	transition: all 1s ease-in-out;
	top:414px;
	left: 285px;

  }
  .demoTABLETA img { /* el contenido */
	left: 1px; /* posición izquierda */
	position:absolute; /* indicamos que su posición es absoluta con respecto al contenedor */
	top: 0px; /* posición superior */
	-moz-transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
  }
  /* y ponemos propiedades en las clases de cada imagen */
  /* la primera no será visible por defecto */
  .demoTABLETA img.novisible {opacity:0;filter:alpha(opacity=0);
  -moz-transform:scale(1,0);
  -webkit-transform:scale(1,0);
  -o-transform:scale(1,0);
  -ms-transform:scale(1,0);
  
  }
  /* y se verá cuando pongamos el cursor encima del DIV */
  .demoTABLETA:hover img.novisible {opacity:1;filter:alpha(opacity=100);
  -moz-transform:scale(1);
  -webkit-transform:scale(1);
  -o-transform:scale(1);
  -ms-transform:scale(1);
}
  /* la segunda se ocultara siempre que pongamos el cursor encima del DIV o de la imagen */
  .demoTABLETA:hover img.visible {opacity:0;filter:alpha(opacity=0);
  -moz-transform:rotate(360deg) scale(0);
  -webkit-transform:rotate(360deg) scale(0);
  -o-transform:rotate(360deg) scale(0);
  -ms-transform:rotate(360deg) scale(0);
  }
  .demoTABLETA img.visible:hover {opacity:0;filter:alpha(opacity=0);}  
/*TABLERA 2*/
.demoTABLETA_2 { /* el rectángulo contenedor */
   position:relative; /* indicamos esto para poder posicionar su contenido de maera absoluta */
    height:80px; /* le damos una cierta altura */
    width:94px; /* le damos un cierto ancho */
	-moz-transition: all 1s ease-in-out;
  	-webkit-transition: all 1s ease-in-out;
  	-o-transition: all 1s ease-in-out;
  	transition: all 1s ease-in-out;
	top:365px;
	left: 415px;
	/*float:left;*/
  }
    .demoTABLETA_2 img { /* el contenido */
	left: 1px; /* posición izquierda */
	position:absolute; /* indicamos que su posición es absoluta con respecto al contenedor */
	top: 0px; /* posición superior */
	-moz-transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
  }
  /* y ponemos propiedades en las clases de cada imagen */
  /* la primera no será visible por defecto */
  .demoTABLETA_2 img.novisible {opacity:0;filter:alpha(opacity=0);
  -moz-transform:scale(1,0);
  -webkit-transform:scale(1,0);
  -o-transform:scale(1,0);
  -ms-transform:scale(1,0);
  
  }
  /* y se verá cuando pongamos el cursor encima del DIV */
  .demoTABLETA_2:hover img.novisible {opacity:1;filter:alpha(opacity=100);
  -moz-transform:scale(1);
  -webkit-transform:scale(1);
  -o-transform:scale(1);
  -ms-transform:scale(1);
}
  /* la segunda se ocultara siempre que pongamos el cursor encima del DIV o de la imagen */
  .demoTABLETA_2:hover img.visible {opacity:0;filter:alpha(opacity=0);
  -moz-transform:rotate(360deg) scale(0);
  -webkit-transform:rotate(360deg) scale(0);
  -o-transform:rotate(360deg) scale(0);
  -ms-transform:rotate(360deg) scale(0);
  }
  .demoTABLETA_2 img.visible:hover {opacity:0;filter:alpha(opacity=0);}  
  /*TABLETA 3*/
  .demoTABLETA_3 { /* el rectángulo contenedor */
   position:relative; /* indicamos esto para poder posicionar su contenido de maera absoluta */
    height:80px; /* le damos una cierta altura */
    width:94px; /* le damos un cierto ancho */
	-moz-transition: all 1s ease-in-out;
  	-webkit-transition: all 1s ease-in-out;
  	-o-transition: all 1s ease-in-out;
  	transition: all 1s ease-in-out;
	top:314px;
	left:549px;
  }
    .demoTABLETA_3 img { /* el contenido */
	left: 1px; /* posición izquierda */
	position:absolute; /* indicamos que su posición es absoluta con respecto al contenedor */
	top: 0px; /* posición superior */
	-moz-transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
  }
  /* y ponemos propiedades en las clases de cada imagen */
  /* la primera no será visible por defecto */
  .demoTABLETA_3 img.novisible {opacity:0;filter:alpha(opacity=0);
  -moz-transform:scale(1,0);
  -webkit-transform:scale(1,0);
  -o-transform:scale(1,0);
  -ms-transform:scale(1,0);
  
  }
  /* y se verá cuando pongamos el cursor encima del DIV */
  .demoTABLETA_3:hover img.novisible {opacity:1;filter:alpha(opacity=100);
  -moz-transform:scale(1);
  -webkit-transform:scale(1);
  -o-transform:scale(1);
  -ms-transform:scale(1);
}
  /* la segunda se ocultara siempre que pongamos el cursor encima del DIV o de la imagen */
  .demoTABLETA_3:hover img.visible {opacity:0;filter:alpha(opacity=0);
  -moz-transform:rotate(360deg) scale(0);
  -webkit-transform:rotate(360deg) scale(0);
  -o-transform:rotate(360deg) scale(0);
  -ms-transform:rotate(360deg) scale(0);
  }
  .demoTABLETA_3 img.visible:hover {opacity:0;filter:alpha(opacity=0);}  
  

@media only screen and (max-width: 768px){
	#contenido{
		background-size:100% auto;
		-moz-background-size:100% auto;
		-webkit-background-size:100% auto;
		background-repeat:no-repeat;
		width:700px;/*PIZARRA*/

}
img, video, object { 
	max-width:100%; 
	height:auto;
}

.demoIMG { /* el rectángulo contenedor */
   position:relative; /* indicamos esto para poder posicionar su contenido de maera absoluta */
    height:187px; /* le damos una cierta altura */
    width:219px; /* le damos un cierto ancho */
	-moz-transition: all 1s ease-in-out;
  	-webkit-transition: all 1s ease-in-out;
  	-o-transition: all 1s ease-in-out;
  	transition: all 1s ease-in-out;
	top:94px;
	left: 110px;
	float:left;
  }
  .demoIMG img { /* el contenido */
    left: 0; /* posición izquierda */
    position:absolute; /* indicamos que su posición es absoluta con respecto al contenedor */
   top: 0; /* posición superior */
  -moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  }
  /* y ponemos propiedades en las clases de cada imagen */
  /* la primera no será visible por defecto */
  .demoIMG img.novisible {opacity:0;filter:alpha(opacity=0);
  -moz-transform:scale(1,0);
  -webkit-transform:scale(1,0);
  -o-transform:scale(1,0);
  -ms-transform:scale(1,0);
  
  }
  /* y se verá cuando pongamos el cursor encima del DIV */
  .demoIMG:hover img.novisible {opacity:1;filter:alpha(opacity=100);
  -moz-transform:scale(1);
  -webkit-transform:scale(1);
  -o-transform:scale(1);
  -ms-transform:scale(1);
}
  /* la segunda se ocultara siempre que pongamos el cursor encima del DIV o de la imagen */
  .demoIMG:hover img.visible {opacity:0;filter:alpha(opacity=0);
  -moz-transform:rotate(360deg) scale(0);
  -webkit-transform:rotate(360deg) scale(0);
  -o-transform:rotate(360deg) scale(0);
  -ms-transform:rotate(360deg) scale(0);
  }
  .demoIMG img.visible:hover {opacity:0;filter:alpha(opacity=0);}  


/*PIZARRA*/
.demoPIZA { /* el rectángulo contenedor */
   position:relative; /* indicamos esto para poder posicionar su contenido de maera absoluta */
    height:129px; /* le damos una cierta altura */
    width:184px; /* le damos un cierto ancho */
	-moz-transition: all 1s ease-in-out;
  	-webkit-transition: all 1s ease-in-out;
  	-o-transition: all 1s ease-in-out;
  	transition: all 1s ease-in-out;
	top:9px;
	left: 150px;
	float:left;
  }
  .demoPIZA img { /* el contenido */
    left: 0; /* posición izquierda */
    position:absolute; /* indicamos que su posición es absoluta con respecto al contenedor */
   top: 0; /* posición superior */
  -moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  }
  /* y ponemos propiedades en las clases de cada imagen */
  /* la primera no será visible por defecto */
  .demoPIZA img.novisible {opacity:0;filter:alpha(opacity=0);
  -moz-transform:scale(1,0);
  -webkit-transform:scale(1,0);
  -o-transform:scale(1,0);
  -ms-transform:scale(1,0);
  
  }
  /* y se verá cuando pongamos el cursor encima del DIV */
  .demoPIZA:hover img.novisible {opacity:1;filter:alpha(opacity=100);
  -moz-transform:scale(1);
  -webkit-transform:scale(1);
  -o-transform:scale(1);
  -ms-transform:scale(1);
}
  /* la segunda se ocultara siempre que pongamos el cursor encima del DIV o de la imagen */
  .demoPIZA:hover img.visible {opacity:0;filter:alpha(opacity=0);
  -moz-transform:rotate(360deg) scale(0);
  -webkit-transform:rotate(360deg) scale(0);
  -o-transform:rotate(360deg) scale(0);
  -ms-transform:rotate(360deg) scale(0);
  }
  .demoPIZA img.visible:hover {opacity:0;filter:alpha(opacity=0);}  
  
  /*TABLET PROFESOR*/
  
  .demoTABLETP { /* el rectángulo contenedor */
   position:relative; /* indicamos esto para poder posicionar su contenido de maera absoluta */
    height:41px; /* le damos una cierta altura */
    width:73px; /* le damos un cierto ancho */
	-moz-transition: all 1s ease-in-out;
  	-webkit-transition: all 1s ease-in-out;
  	-o-transition: all 1s ease-in-out;
  	transition: all 1s ease-in-out;
	top:200px;
	left: 93px;
	float:left;
  }
  .demoTABLETP img { /* el contenido */
    left: 0; /* posición izquierda */
    position:absolute; /* indicamos que su posición es absoluta con respecto al contenedor */
   top: 0; /* posición superior */
  -moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  }
  /* y ponemos propiedades en las clases de cada imagen */
  /* la primera no será visible por defecto */
  .demoTABLETP img.novisible {opacity:0;filter:alpha(opacity=0);
  -moz-transform:scale(1,0);
  -webkit-transform:scale(1,0);
  -o-transform:scale(1,0);
  -ms-transform:scale(1,0);
  
  }
  /* y se verá cuando pongamos el cursor encima del DIV */
  .demoTABLETP:hover img.novisible {opacity:1;filter:alpha(opacity=100);
  -moz-transform:scale(1);
  -webkit-transform:scale(1);
  -o-transform:scale(1);
  -ms-transform:scale(1);
}
  /* la segunda se ocultara siempre que pongamos el cursor encima del DIV o de la imagen */
  .demoTABLETP:hover img.visible {opacity:0;filter:alpha(opacity=0);
  -moz-transform:rotate(360deg) scale(0);
  -webkit-transform:rotate(360deg) scale(0);
  -o-transform:rotate(360deg) scale(0);
  -ms-transform:rotate(360deg) scale(0);
  }
  .demoTABLETA img.visible:hover {opacity:0;filter:alpha(opacity=0);}  
/*TABLETA ALUMNO*/
.demoTABLETA { /* el rectángulo contenedor */
   position:relative; /* indicamos esto para poder posicionar su contenido de maera absoluta */
    height:34px; /* le damos una cierta altura */
    width:59px; /* le damos un cierto ancho */
	-moz-transition: all 1s ease-in-out;
  	-webkit-transition: all 1s ease-in-out;
  	-o-transition: all 1s ease-in-out;
  	transition: all 1s ease-in-out;
	top:287px;
	left: 197px;

  }
  .demoTABLETA img { /* el contenido */

	left: 1px; /* posición izquierda */
	position:absolute; /* indicamos que su posición es absoluta con respecto al contenedor */
	top: 0px; /* posición superior */
	-moz-transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
  }
  /* y ponemos propiedades en las clases de cada imagen */
  /* la primera no será visible por defecto */
  .demoTABLETA img.novisible {opacity:0;filter:alpha(opacity=0);
  -moz-transform:scale(1,0);
  -webkit-transform:scale(1,0);
  -o-transform:scale(1,0);
  -ms-transform:scale(1,0);
  
  }
  /* y se verá cuando pongamos el cursor encima del DIV */
  .demoTABLETA:hover img.novisible {opacity:1;filter:alpha(opacity=100);
  -moz-transform:scale(1);
  -webkit-transform:scale(1);
  -o-transform:scale(1);
  -ms-transform:scale(1);
}
  /* la segunda se ocultara siempre que pongamos el cursor encima del DIV o de la imagen */
  .demoTABLETA:hover img.visible {opacity:0;filter:alpha(opacity=0);
  -moz-transform:rotate(360deg) scale(0);
  -webkit-transform:rotate(360deg) scale(0);
  -o-transform:rotate(360deg) scale(0);
  -ms-transform:rotate(360deg) scale(0);
  }
  .demoTABLETA img.visible:hover {opacity:0;filter:alpha(opacity=0);}  
/*TABLERA 2*/
.demoTABLETA_2 { /* el rectángulo contenedor */
   position:relative; /* indicamos esto para poder posicionar su contenido de maera absoluta */
    height:34px; /* le damos una cierta altura */
    width:59px; /* le damos un cierto ancho */
	-moz-transition: all 1s ease-in-out;
  	-webkit-transition: all 1s ease-in-out;
  	-o-transition: all 1s ease-in-out;
  	transition: all 1s ease-in-out;
	top:273px;
	left: 285px;
	/*float:left;*/
  }
    .demoTABLETA_2 img { /* el contenido */
	left: 1px; /* posición izquierda */
	position:absolute; /* indicamos que su posición es absoluta con respecto al contenedor */
	top: 0px; /* posición superior */
	-moz-transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
  }
  /* y ponemos propiedades en las clases de cada imagen */
  /* la primera no será visible por defecto */
  .demoTABLETA_2 img.novisible {opacity:0;filter:alpha(opacity=0);
  -moz-transform:scale(1,0);
  -webkit-transform:scale(1,0);
  -o-transform:scale(1,0);
  -ms-transform:scale(1,0);
  
  }
  /* y se verá cuando pongamos el cursor encima del DIV */
  .demoTABLETA_2:hover img.novisible {opacity:1;filter:alpha(opacity=100);
  -moz-transform:scale(1);
  -webkit-transform:scale(1);
  -o-transform:scale(1);
  -ms-transform:scale(1);
}
  /* la segunda se ocultara siempre que pongamos el cursor encima del DIV o de la imagen */
  .demoTABLETA_2:hover img.visible {opacity:0;filter:alpha(opacity=0);
  -moz-transform:rotate(360deg) scale(0);
  -webkit-transform:rotate(360deg) scale(0);
  -o-transform:rotate(360deg) scale(0);
  -ms-transform:rotate(360deg) scale(0);
  }
  .demoTABLETA_2 img.visible:hover {opacity:0;filter:alpha(opacity=0);}  
  /*TABLETA 3*/
  .demoTABLETA_3 { /* el rectángulo contenedor */
   position:relative; /* indicamos esto para poder posicionar su contenido de maera absoluta */
    height:34px; /* le damos una cierta altura */
    width:59px; /* le damos un cierto ancho */
	-moz-transition: all 1s ease-in-out;
  	-webkit-transition: all 1s ease-in-out;
  	-o-transition: all 1s ease-in-out;
  	transition: all 1s ease-in-out;
	top:258px;
	left:378px;
  }
    .demoTABLETA_3 img { /* el contenido */
	left: 1px; /* posición izquierda */
	position:absolute; /* indicamos que su posición es absoluta con respecto al contenedor */
	top: 0px; /* posición superior */
	-moz-transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
  }
  /* y ponemos propiedades en las clases de cada imagen */
  /* la primera no será visible por defecto */
  .demoTABLETA_3 img.novisible {opacity:0;filter:alpha(opacity=0);

  -moz-transform:scale(1,0);
  -webkit-transform:scale(1,0);
  -o-transform:scale(1,0);
  -ms-transform:scale(1,0);
  
  }
  /* y se verá cuando pongamos el cursor encima del DIV */
  .demoTABLETA_3:hover img.novisible {opacity:1;filter:alpha(opacity=100);
  -moz-transform:scale(1);
  -webkit-transform:scale(1);
  -o-transform:scale(1);
  -ms-transform:scale(1);
}
  /* la segunda se ocultara siempre que pongamos el cursor encima del DIV o de la imagen */
  .demoTABLETA_3:hover img.visible {opacity:0;filter:alpha(opacity=0);
  -moz-transform:rotate(360deg) scale(0);
  -webkit-transform:rotate(360deg) scale(0);
  -o-transform:rotate(360deg) scale(0);
  -ms-transform:rotate(360deg) scale(0);
  }
  .demoTABLETA_3 img.visible:hover {opacity:0;filter:alpha(opacity=0);
  }  

  }  
